{% extends 'base.html.twig' %}

{% block title %}Hello LearningController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ name }}! ✅</h1>
        <p>Long clothes quarter keel maroon overhaul pillage cackle fruit tackle gunwalls chase. Keelhaul Pieces of Eight bilged on her anchor me booty lee belay to go on account spyglass Jack Tar. Reef sails bilge water marooned Barbary Coast long clothes lee keel cog interloper lass.

            Rigging crow's nest Sail ho skysail draft gaff keelhaul handsomely Sink me fire ship. Reef sails flogging stern dance the hempen jig booty yardarm cable starboard furl Jolly Roger. Corsair pressgang tackle measured fer yer chains warp crow's nest Jolly Roger boatswain grog blossom pillage.

            Sloop schooner grog lookout rigging aye jack ho handsomely bucko. Hulk gangway yard bilged on her anchor bring a spring upon her cable Admiral of the Black no prey, no pay prow chandler Shiver me timbers. Bowsprit hardtack careen to go on account sheet run a shot across the bow parrel line Nelsons folly bring a spring upon her cable. </p>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/var/www/challenge-symfony-mvc/src/Controller/LearningController.php'|file_link(0) }}">src/Controller/LearningController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/var/www/challenge-symfony-mvc/templates/learning/aboutme.html.twig'|file_link(0) }}">templates/learning/index.html.twig</a></code></li>
        </ul>
    </div>

    <p><a href={{ path('home') }}>back to the homepage</a></p>
{% endblock %}
